<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrity check</title>
</head>
<body>
    <div class="page-container">
        <div class="content-wrapper">
            <div class="results-wrapper">
                <div class="color-space-results">
                    {% for result in colors_list %}
                        <div class="result">
                            {{ result[0] }} and {{ result[1] }} share a similar color space (distance {{ result[2] }}).
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>