.page-container {
    .content-wrapper {
        .colors-wrapper {
            display: flex;
            .color-box {
                height: 100px;
                width: 100px;
            }
        }
    }
}